form.login {
  background-color: #0000;
  margin: 0 auto;
  width: 50%;
  max-width: 400px;
}

form.login h1.title {
  font-size: 40px;
  font-weight: 700;
  color: #9034d8;
  text-align: center;
  line-height: 60px;
  margin-bottom: 48px;
}

form.login h1.title a {
  font-weight: 300;
  color: #090b2f;
}

form.login div.form-input {
  display: flex;
  flex-flow: column wrap;
}

form.login div.form-input div.MuiFormControl-root {
  margin: 0;
  margin-bottom: 32px;
}

form.login label.container {
  display: block;
  position: relative;
  padding-left: 24px;
  margin-bottom: 48px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
}

form.login label.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 16px;
  width: 16px;
  border: 1px solid #9034d8;
  border-radius: 3px;
  background-color: #faf1ff;
}

form.login label.container input:checked ~ .checkmark {
  background-color: #9034d8;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

form.login label.container input:checked ~ .checkmark:after {
  display: block;
}

form.login label.container .checkmark:after {
  left: 4px;
  top: 0px;
  width: 5px;
  height: 10px;
  border: solid #faf1ff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

form.login button.button {
  margin-bottom: 48px;
}

form.login button.button:active {
  background-color: #a767d8;
}

form.login span.register-now {
  font-size: 16px;
}

form.login span.register-now a.register-now {
  color: #9034d8;
  cursor: pointer;
}

@media screen and (max-width: 730px) {
  form.login {
    width: 80%;
  }
}
