@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");

.header {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #39345f;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  font-size: 1.7rem;
  font-family: "Rubik", sans-serif;
  font-weight: bold;
  width: 100vw;
  padding: 16px 0;
  z-index: 1;
}

header.header div.logo {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  margin-left: 5vw;
}

.logo p {
  color: #faf1ff;
}

.logo .standOut {
  color: #8f34d8;
}

.logo img {
  height: 40px;
  margin-right: 16px;
}

.nav {
  width: 35vw;
  margin-right: 2vw;
  display: flex;
  flex-flow: nowrap row;
  justify-content: space-around;
  align-items: center;
}

.nav a {
  text-decoration: none;
  color: #faf1ff;
  transition: 0.3s;
  font-size: 24px;
}

.nav a:hover {
  color: #e8c5fc;
}
.nav a.highlight {
  color: #8f34d8;
}

@media screen and (max-width: 768px) {
  .header .logo p {
    display: none;
  }

  .nav {
    width: 80vw;
  }

  .nav a {
    font-size: 1rem;
  }
}
