div.navbar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  background-color: #39345f;
  padding: 40px;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  box-sizing: border-box;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
}

button.nav-button:last-child {
  margin: 0;
}

div.navbar div.nav-top,
div.navbar div.nav-bottom div.user {
  height: 40px;
  color: #faf1ff;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

div.navbar div.nav-top img.logo {
  width: 40px;
  display: inline-block;
  margin-right: 16px;
}

div.navbar div.nav-bottom div.user img.logo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #c4c4c4;
  display: inline-block;
  margin-right: 16px;
}

div.navbar div.nav-top span.free2share {
  font-size: 24px;
  font-weight: bold;
}

div.navbar div.nav-bottom {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

div.navbar div.nav-bottom div.user div.username {
  font-size: 14px;
}

div.navbar div.nav-bottom span.logout {
  font-size: 40px;
  color: #faf1ff;
  cursor: pointer;
  transition: 0.2s;
}

div.navbar div.nav-bottom span.logout:hover {
  color: #9034d8;
}

@media screen and (max-width: 768px) {
  div.navbar {
    padding: 30px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
  }
  div.navbar div.nav-top img.logo {
    width: 30px;
    margin-right: 8px;
  }

  div.navbar div.nav-bottom div.user img.logo {
    height: 30px;
    width: 30px;
    margin-right: 8px;
  }
  div.navbar div.nav-bottom span.logout {
    font-size: 30px;
  }
}

@media screen and (max-width: 580px) {
  div.navbar {
    padding: 20px 15px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
  }

  div.navbar div.nav-top img.logo {
    width: 45px;
  }
  div.navbar div.nav-top {
    width: 45px;
    height: 45px;
    margin: 0;
  }

  div.navbar div.nav-bottom div.user,
  div.navbar div.nav-top span.free2share {
    display: none;
  }

  div.navbar div.nav-bottom span.logout {
    margin: 0 auto;
  }
}
