@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");

.footer {
  font-family: "Rubik", sans-serif;
  background-color: #090b2f;
  text-align: center;
  color: white;
  width: 70vw;
  margin: 50px auto;
  border-top: 1px inset white;
}

.footer .devs {
  margin-bottom: 10px;
}

.footer .kenzie {
  margin-top: 10px;
  margin-bottom: 15px;
}

.footer a {
  text-decoration: none;
  color: white;
}

.footer a:hover {
  color: #a848f1;
}
